html {
	height: 100%;
	width: 100%;
}

body{
	background-color:#16b88f;
}

p{
	padding: 10px;
	background-color:#bee6dc;
}
#currentPage{
	color:white;
}


.textCenter{
	text-align:center;
}

.formPage{
	margin-top: 20px;
	margin-right:10%;
	width: 30%;
}

.formSection{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.firstName{
	
}

.surname{
	
}

.email{
	
}

.dateOfVisit{
	
}

.experience{
	
}

.submit{
	display:block;
	margin: auto;
}

.paraBody{
	width:49%;
}

.image{
	padding-top: 15px;
	padding-bottom: 10px;
	width: 49%;
}

.parallel{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.factBullets{
	margin-left:10%;
	width: 30%;
}
	
border{
	box-sizing: border-box;
}