html {
	height: 100%;
	width: 100%;
}

body {
	background-color:#16b88f;
	font-family: "Oswald", sans-serif;
}

p {
	padding: 10px;
	background-color:#bee6dc;
	border-radius: 8px;
}

h2 {
	margin-top: 0px;
}
	
#currentPage {
	color:white;
}

.heading {
	display: block;
	margin:auto;
	padding: 10px 20px;
	background-color:#bee6dc;
	text-align: center;
	width: fit-content;
	border-radius: 8px;
}	

.formPage {
	padding: 10px;
	background-color:#bee6dc;
	margin-right:10%;
	width: 30%;
	border-radius: 8px;
}

.formSection {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}


.submit {
	display: block;
	margin: auto;
	border-radius: 8px;
}

.paraBody {
	width: 0px;
	height: 0px;
	font-size: 0px;
	border-radius: 8px;
}

.image {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 27%;
	width: 46%;
	border-radius: 8px;
}

.parallel {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.parallel img {
	border-radius: 8px;
}

.factBullets {
	padding: 10px;
	background-color:#bee6dc;
	margin-left:10%;
	width: 30%;
	border-radius: 8px;
}
	
border {
	box-sizing: border-box;
}

.botNavImg {
	display: block;
	margin: auto;
	margin-top: 20px;
	width: 75%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.botNavImg img {
	width:95%;
	border-radius: 8px;
}

.textShowHideButton {
	margin-top: 15px;
	width: 4%;
	font-size: 12px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 8px;
}